$se-lifegreen: #3dcd58;
$se-logogreen: #009530;
$se-darkgray: #626469;
$se-lighgray: #9fa0a4;
$se-yellow: #ffd100;
$se-orange: #e47f00;
$se-red: #b10043;
$se-skyblue: #42b4e6;
$fc-light: #ffffff;
$fc-dark: #818387;
$bg-light: #f2f2f2;
